body, div, h2, ul {
  margin: 0;
  box-sizing: border-box;
}

.layout-container {
  height: 100%;
}

.layout-container .top-nav {
  height: 40px;
  line-height: 40px;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid #eee;
  background: #fff;
}

.layout-container .left-menu {
  width: 180px;
  border-right: 1px solid #eee;
  position: fixed;
  top: 40px;
  height: calc(100% - 40px);
  overflow: hidden;
  overflow-y: auto;
  padding: 0;
}

.layout-container .left-menu li {
  line-height: 30px;
  list-style: none;
}

.layout-container .left-menu li a {
  text-decoration: none;
  display: block;
  padding-left: 30px;
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
  word-break: break-all;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.layout-container .left-menu li a:hover {
  background: #eee;
}

.layout-container .right-panel {
  margin-left: 180px;
  padding: 15px;
  padding-top: 55px;
}
